DB_HOST=postgres
DB_PORT=5432
DB_USER=smkadmin
DB_PASS=ganti_password_kuat
DB_NAME=smkn1_lab

JWT_SECRET=ganti_dengan_random_string_64_karakter
JWT_EXPIRY=24h

APP_PORT=8080
APP_ENV=production
FRONTEND_URL=http://localhost

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=lab@smkn1kutasari.sch.id
SMTP_PASS=app_password_gmail

PGADMIN_PASS=ganti_password_pgadmin
